<div class="edit-container">
  <div class="subheader">
    <h1 *ngIf="isNewCategory; else elseBlock">Add new</h1>
    <ng-template #elseBlock> <h1>Edit</h1></ng-template>
    <h1>&nbsp;category</h1>
  </div>
  <form [formGroup]="categoryForm" class="form" (ngSubmit)="saveCategory()">
    <div class="form-item" [class.disabled]="!isNewCategory">
      <label class="label required">Title</label>
      <input
        type="text"
        id="Title"
        formControlName="title"
        placeholder="Enter Webcomic name"
        [attr.disabled]="!isNewCategory ? '' : null"
      />
    </div>
    <div class="form-item">
      <label class="label required">URL</label>
      <input
        type="text"
        id="url"
        formControlName="url"
        placeholder="Enter webcomic URL"
      />
    </div>
    <div class="form-item">
      <label class="label">Category image URL</label>
      <input
        type="text"
        id="imageUrl"
        formControlName="imageUrl"
        placeholder="Enter webcomic category image URL"
      />
    </div>

    <div class="form-item">
      <label class="label">Status</label>
      <div class="status-option-container">
        <input
          type="radio"
          id="active"
          formControlName="status"
          value="active"
        />
        <label for="active">Active</label>
        <input
          type="radio"
          id="discontinued"
          formControlName="status"
          value="discontinued"
        />
        <label for="discontinued">Discontinued</label>
      </div>
    </div>

    <div class="editor-button-container" [class.new]="isNewCategory">
      <button
        type="submit"
        class="button"
        [disabled]="this.categoryForm.status === 'INVALID'"
      >
        Save
      </button>
      <button class="button" (click)="deleteCategory()" *ngIf="!isNewCategory">
        Delete
      </button>
    </div>
  </form>
</div>
