.status-option-container {
  padding-left: 12px;
  margin-top: 0.4.5px;
  display: flex;
  width: 180px;
  height: 27.5px;
  justify-content: space-between;
}

input[type="radio" i] {
  border: none;
  appearance: none;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

input[type="radio" i] + label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: fit-content;
  cursor: pointer;
}

input[type="radio" i]:checked + label {
  color: #ec4c4c;
  border-bottom: 1px solid;
}

@media screen and (min-width: 768px) {
  .status-option-container {
    width: 230px;
    padding-left: 19px;
    justify-content: flex-start;
  }

  input[type="radio" i] + label {
    margin-right: 19px;
  }
}
