.footer {
  width: 100%;
  min-width: 280px;
  height: 48px;
  z-index: 30;
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  font-size: 20px;
}

.footer-item {
  outline: none;
  width: 33vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.footer-item > svg {
  height: 80%;
  color: #171717;
}

.footer-item:hover > svg,
.footer-item:focus > svg {
  color: #ec4c4c;
  outline: none;
}

.mobile-search {
  width: 100%;
  height: 48px;
  z-index: 30;
  position: fixed;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 3px 0 12px;
}

.mobile-search.hidden {
  display: none;
}

.mobile-search-item {
  width: 30px;
}

.mobile-search-item > svg {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 32px;
    z-index: 30;
    font-size: 14px;
    color: #4a4a4aab;
    font-family: "Didact Gothic", sans-serif;
    position: unset;
    bottom: 0;
  }

  .mobile-search {
    display: none;
  }
}
