<div class="footer hidden-non-mobile">
  <div class="footer-item" routerLink="/collection">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
      ></path>
    </svg>
  </div>
  <div class="footer-item" routerLink="/collection/new">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      ></path>
    </svg>
  </div>
  <div class="footer-item" (click)="toggleMobileSearch($event)">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 28 28"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      ></path>
    </svg>
  </div>
</div>

<div
  class="mobile-search"
  [class.hidden]="!mobileSearchVisible"
  (clickOutside)="closeMobileSearch()"
  (keyup.enter)="closeMobileSearch()"
>
  <div class="mobile-search-item">
    <app-search-bar></app-search-bar>
  </div>
  <div
    class="mobile-search-item"
    (click)="toggleMobileSearch()"
    style="margin-left: 30px"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 22 22"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </div>
</div>

<div class="footer hidden-mobile">Webcomic Collector</div>
