.collection-container {
  margin-bottom: 48px;
  width: 100%;
  min-width: 280px;
}

.subheader-container {
  width: 100%;
  z-index: 30;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5vh;
}

.subheader-title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 30px;
  font-family: "Didact Gothic", sans-serif;
  min-width: 280px;
}

.view-toggle-container {
  position: sticky;
  top: 52px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 5px 2vw 12px 5vw;
  z-index: 2;
  min-width: 280px;
}

.view-toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin: 0 1.5vw 1px 0.6vw;
  cursor: pointer;
}

.view-toggle.chosen {
  color: #ec4c4c;
  border-bottom: 1px solid;
  margin-bottom: 0;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  min-width: 280px;
}

.category-container {
  width: 30vw;
  min-width: 82px;
  height: 40vw;
  min-height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: max(1vh, 6.4px) 1vw;
  cursor: pointer;
}

.category-container.dummy {
  background-color: #fafafa;
  cursor: default;
}

.category-container > .title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 28%;
  margin: 5% 0;
  width: 90%;
  background-color: white;
}

.category-container > .title > p {
  background-color: white;
  font-size: 3vw;
}

.category-container > app-image-with-loading-indicator {
  max-height: 100%;
  height: 60%;
  max-width: 80%;
  width: 100%;
  margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
  .collection-container {
    padding-bottom: 32px;
    margin-bottom: 0;
    padding: 0vh 20vw;
    min-height: 100vh;
  }

  .subheader-container {
    position: initial;
    margin-bottom: min(0.5vh, 85px);
  }

  .subheader-title {
    font-size: 65px;

    margin: 19px 0;
  }

  .view-toggle-container {
    top: 65px;
    padding: 10px min(3.5vw, 68px) 12px 5vw;
    justify-content: flex-end;
  }

  .view-toggle {
    margin: 0 min(0.6vw, 11.5px) 1px min(0.6vw, 11.5px);
    font-size: 14px;
  }

  .category-list {
    margin-top: 2px;
  }

  .category-container {
    width: min(15vw, 286px);
    height: min(20vw, 382px);
    margin: 0 0.5vw min(3.75vw, 72px) 0.5vw;
  }

  .category-container > .title > p {
    font-size: min(1.65vw, 33px);
  }
}

@media screen and (min-width: 1921px) {
  .collection-container {
    padding: 0 calc((100vw - 1152px) / 2);
  }
}
