<div class="collection-container">
  <div class="subheader-container">
    <div class="subheader-title">My Collection</div>
  </div>
  <div class="view-toggle-container">
    <div
      class="view-toggle"
      [class.chosen]="showAllWebcomics"
      (click)="showWebcomics()"
    >
      Show Webcomics
    </div>
    <div
      class="view-toggle"
      [class.chosen]="!showAllWebcomics"
      (click)="showCategories()"
    >
      Show Categories
    </div>
  </div>
  <div class="category-list" *ngIf="!showAllWebcomics">
    <div
      class="category-container"
      *ngFor="let category of categories"
      (click)="selectCategory(category)"
    >
      <div class="title">
        <p>{{ category.name }}</p>
      </div>
      <app-image-with-loading-indicator
        [imageUrl]="category.imageUrl"
        [altTitle]="category.name"
      >
      </app-image-with-loading-indicator>
    </div>
    <div
      class="category-container dummy"
      *ngIf="emptySpaces == 1 || emptySpaces == 2"
    ></div>
    <div class="category-container dummy" *ngIf="emptySpaces == 1"></div>
  </div>

  <app-webcomic-list
    *ngIf="showAllWebcomics"
    [webcomics]="webcomics"
  ></app-webcomic-list>
</div>
