.header {
  width: 100%;
  min-width: 280px;
  height: 52px;
  box-shadow: 0 2px 0 0 whitesmoke;
  z-index: 4;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0;
}

.header-burger {
  color: #363636;
  height: 50px;
  width: 50px;
  position: relative;
  margin-left: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-burger:hover,
.header-burger:focus {
  outline: none;
  color: #ec4c4c;
}

.header-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  width: 22px;
  left: calc(50% - 11px);
  position: absolute;
  // transform-origin: center;
  // transition-duration: 186ms;
  // transition-property: background-color, opacity, transform;
  // transition-timing-function: ease-out;
}

.header-burger span:nth-child(1) {
  top: calc(50% - 7px);
}

.header-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.header-burger span:nth-child(3) {
  top: calc(50% + 5px);
}

// .header-burger.open span:nth-child(1) {
//   transform: translateY(6px) rotate(45deg);
// }

// .header-burger.open span:nth-child(2) {
//   opacity: 0;
// }

// .header-burger.open span:nth-child(3) {
//   transform: translateY(-6px) rotate(-45deg);
// }

.header-top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 52px);
}

.header-brand {
  justify-content: center;
  width: fit-content;
  align-items: center;
  display: flex;
  outline: none;
  margin-right: 7.5px;
  cursor: pointer;
}

.header-logo {
  object-fit: scale-down;
  max-height: 1.8rem;
  margin-right: 0.4rem;
}

.header-title {
  margin: 0;
  padding: 0;
  display: inline-block;
}

@keyframes mobile-menu-open {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

@keyframes mobile-menu-close {
  0% {
    background-color: rgba(0, 0, 0, 0.9);
  }
  100% {
    background-color: transparent;
    visibility: hidden;
  }
}

.header-menu-mobile {
  display: flex;
  position: fixed;
  left: 0;
  width: 100vw;
  overflow: auto;
  top: 0;
  height: 100vh;
  z-index: 31;
  animation-name: mobile-menu-open;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.header-menu-mobile.animation-disabled {
  display: none;
}

.header-menu-mobile.hidden {
  animation-name: mobile-menu-close;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes mobile-menu-slide-open {
  from {
    left: -80%;
  }
  to {
    left: 0%;
  }
}

@keyframes mobile-menu-slide-close {
  from {
    left: 0;
  }
  to {
    left: -80%;
  }
}

.header-menu-content-mobile {
  list-style-type: none;
  position: relative;
  left: -80%;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  // pointer-events: none;
  animation-name: mobile-menu-slide-open;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;

  & .subheader {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 20px 20px;
    // pointer-events: none;

    & img {
      object-fit: scale-down;
      height: 35px;
    }

    & svg {
      width: 30px;
      height: 30px;
      cursor: pointer;
      // pointer-events: auto;
    }

    & svg:hover {
      outline: none;
      color: #ec4c4c;
    }
  }
}

.header-menu-mobile.hidden > .header-menu-content-mobile {
  animation-name: mobile-menu-slide-close;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.header-menu-item-mobile {
  padding: 8px;
  margin: 0 0 8px 15px;
  cursor: pointer;
  // pointer-events: auto;
}

.header-menu-item-mobile:hover,
.header-menu-item-mobile:focus {
  outline: none;
  color: #ec4c4c;
}

.header-menu-item-mobile > a {
  font-size: 19px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 65px;
  }

  .header-top-bar {
    justify-content: space-between;
    width: 100%;
    padding: 0 2vw 0 1vw;
  }

  .button-new-comic {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 20;
    bottom: 2.5%;
    right: 5%;
    background-color: transparent;
    color: #363636;
    cursor: pointer;
  }

  .button-new-comic:hover,
  .button-new-comic:focus {
    color: #ec4c4c;
    border-color: #ec4c4c;
    outline: none;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 2.5vw;
  }

  .header-burger {
    display: none;
  }

  .header-top-bar {
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-menu-item {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-left: min(1vw, 19px);
    cursor: pointer;
  }

  .header-menu-item:focus,
  .header-menu-item.activated {
    color: #ec4c4c;
    outline: none;
  }

  .header-menu-item:hover {
    color: #ec4c4c;
    outline: none;
  }

  .button {
    padding: 6px 10px;
  }

  .button.activated {
    color: #ec4c4c;
    border-color: #ec4c4c;
  }
}

@media screen and (min-width: 1322px) {
  .header {
    padding: 0 10vw;
  }
}

@media screen and (min-width: 1680px) {
  .header {
    padding: 0 20vw;
  }
}

@media screen and (min-width: 1921px) {
  .header {
    padding: 0 calc((100vw - 1152px) / 2);
  }
}
