<div class="header">
  <a
    class="header-burger"
    (click)="toggleMobileMenu()"
    (click)="enableAnimation()"
  >
    <span></span>
    <span></span>
    <span></span>
  </a>

  <div class="header-top-bar">
    <div class="header-brand" routerLink="/collection">
      <img class="header-logo" src="assets/images/fakeLogo.png" />
      <h2 class="header-title f2">Webcomic Collector</h2>
    </div>
    <div class="hidden-mobile">
      <app-search-bar></app-search-bar>
    </div>
    <div class="header-menu hidden-non-desktop">
      <div
        class="header-menu-item"
        routerLink="/about"
        routerLinkActive="activated"
      >
        About
      </div>
      <div
        class="header-menu-item"
        routerLink="/collection/new-category"
        routerLinkActive="activated"
      >
        Add category
      </div>
      <div class="header-menu-item" routerLink="/collection/new">
        <button class="button" routerLinkActive="activated">
          Add webcomic
        </button>
      </div>
    </div>
  </div>
</div>

<div
  (click)="toggleMobileMenu()"
  class="header-menu-mobile"
  [class.hidden]="animationEnabled && !mobileMenuVisible"
  [class.animation-disabled]="!animationEnabled && !mobileMenuVisible"
>
  <ul class="header-menu-content-mobile" (click)="consumeClickEvent($event)">
    <div class="subheader">
      <img src="assets/images/fakeLogo.png" />
      <svg
        (click)="closeMobileMenu()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0.5 0 22 22"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>
    <div class="header-menu-items-mobile">
      <li class="header-menu-item-mobile" routerLink="/collection" (click)="closeMobileMenu()">
        <a>Home</a>
      </li>
      <li class="header-menu-item-mobile" routerLink="/collection/new-category" (click)="closeMobileMenu()">
        <a>Add category</a>
      </li>
      <li class="header-menu-item-mobile" routerLink="/about" (click)="closeMobileMenu()">
        <a>About</a>
      </li>
    </div>
  </ul>
</div>

<button
  class="button-new-comic hidden-desktop hidden-mobile"
  routerLink="/collection/new"
>
  <svg
    class="w-6 h-6"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1"
      d="M12 6v6m0 0v6m0-6h6m-6 0H6"
    ></path>
  </svg>
</button>
