<div class="comic-view-container">
  <div class="comic-view-subheader">
    <div class="comic-info" (click)="goToWebcomicCategory()">
      <div class="category-image">
        <app-image-with-loading-indicator
          [imageUrl]="categoryImageUrl"
          [altTitle]="webcomic.category"
          [class]="'test'"
        >
        </app-image-with-loading-indicator>
      </div>
      <div class="comic-name">
        <p>{{ webcomic.category }}</p>
      </div>
    </div>
    <div class="comic-title">
      <h2>{{ webcomicTitle }}</h2>
    </div>
  </div>
  <div class="comic-image-container">
    <div class="navigation back" (click)="navigate('previous')">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="7 4 10 16"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        />
      </svg>
    </div>

    <div class="navigation next" (click)="navigate('next')">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="7 4 10 16"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        />
      </svg>
    </div>

    <app-image-with-loading-indicator
      class="comic-image"
      [imageUrl]="webcomic.imageUrl"
      [altTitle]="webcomic.title"
      (click)="toggleImageZoom()"
    >
    </app-image-with-loading-indicator>
    <div
      class="zoom-image"
      [class.visible]="showZoomImage"
      (click)="toggleImageZoom()"
    >
      <img
        class="zoom-image-content"
        id="zoom-image-content"
        src="{{ webcomic.imageUrl }}"
      />
    </div>
  </div>

  <div class="comic-menu">
    <div class="comic-menu-item" (click)="like()">
      <svg
        *ngIf="webcomic.like; else likedIcon"
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <ng-template #likedIcon>
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
          ></path>
        </svg>
      </ng-template>
    </div>
    <div
      class="comic-menu-item"
      (click)="openWebcomicSource()"
      [class.disabled]="webcomic.url.length < 1"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
        ></path>
      </svg>
    </div>
    <div class="comic-menu-item" (click)="saveURLToClipboard()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
        />
      </svg>
    </div>
    <div class="comic-menu-item" (click)="goToWebcomicEdit()">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
        ></path>
      </svg>
    </div>
  </div>
</div>
