.comic-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 48px;
}

.comic-view-subheader {
  display: flex;
  height: 120px;
}

.comic-info {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.comic-info > .category-image {
  height: 74px;
  width: 74px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comic-info > .category-image > app-image-with-loading-indicator {
  width: 100%;
  max-width: 90%;
  height: 100%;
  max-height: 90%;
  object-fit: contain;
  background-color: white;
}

.comic-info > .comic-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comic-info > .comic-name > p {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}

.comic-title {
  display: flex;
  justify-content: flex-start;
  padding: 15px 15px 15px 4vw;
  width: 55vw;
  align-items: center;
}

.comic-image-container {
  margin: 0 6px;
  height: clamp(369px, 60vh, calc(min(98vw, calc(100vw - 12px)) * 1.2));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: max(1vh, 6px) 0;
  background-color: white;
  position: relative;
}

.comic-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-color: white;
}

.zoom-image {
  display: none;
  position: fixed;
  left: 0;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  height: 100vh;
  z-index: 799;
}

.zoom-image-content {
  margin: auto;
  display: block;
  object-fit: cover;
  padding: 4vh 0;
  background-color: transparent;
}

.zoom-image.visible {
  display: flex;
}

.comic-menu {
  width: 75vw;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.comic-menu-item {
  width: 18vw;
  max-width: 60px;
  max-height: 35px;
  margin: 1vh 1vw;
  display: flex;
  justify-content: center;
  color: #171717;
  cursor: pointer;
}

.comic-menu-item:hover,
.comic-menu-item:focus {
  outline: none;
  color: #ec4c4c;
}

.comic-menu-item.disabled {
  color: #dbdbdb;
  cursor: not-allowed;
}

.navigation {
  height: fit-content;
  position: absolute;
  top: calc(50% - 36px);
  color: transparent;
  opacity: 0.25;
  background-color: transparent;
  cursor: pointer;
}

.comic-image-container:hover > .navigation {
  color: black;
}

.navigation:hover {
  color: black;
}

.navigation > svg {
  height: 70px;
}

.navigation.next {
  right: 2%;
}

.navigation.back {
  left: 2%;
}

@media screen and (min-width: 768px) {
  .comic-view-container {
    padding: 0vh 22.5vw;
    align-items: center;
    min-height: calc(100vh - 97px);
    justify-content: unset;
    margin-bottom: unset;
  }

  .comic-view-subheader {
    height: 192.8px;
    width: 100%;
    margin: 19.4px 0 29px 0;
    border-bottom: 1px solid #efefef;
  }

  .comic-info {
    padding: 0;
    min-height: 191.797px;
  }

  .comic-info > .category-image {
    height: 139.52px;
    width: 139.52px;
  }

  .comic-info > .comic-name {
    height: 30px;
  }

  .comic-info > .comic-name > p {
    font-size: 18px;
    max-width: unset;
  }

  .comic-title {
    padding: 0 0 0 min(76px, 4vw);
  }

  .comic-image-container {
    width: 40vw;
    min-width: 379.41px;
    height: 50vh;
    min-height: 368.66px;
    max-height: 518.5px;
    border: none;
    padding: 10.8px 0;
    margin: 0;
  }

  .comic-image {
    margin: auto;
    width: auto;
    max-height: 100%;
    max-width: 95%;
    display: block;
    object-fit: cover;
  }

  .comic-menu {
    margin-top: 2vh;
    width: 40vw;
    min-width: 572px;
  }

  .comic-menu-item {
    min-width: 58px;
    color: #171717;
    margin: 1vh 1vw;
  }

  .navigation {
    display: flex;
    align-items: center;
    width: 70px;
  }

  .navigation.next {
    right: unset;
    left: clamp(379.41px, 40vw, 768px);
    justify-content: flex-end;
  }

  .navigation.back {
    left: unset;

    right: clamp(379.41px, 40vw, 768px);
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .comic-menu-item {
    width: 6vh;
    margin: 1vh 1vw;
  }
}

@media screen and (min-width: 1440px) {
  .comic-view-subheader {
    min-height: 216px;
  }

  .comic-info > .category-image {
    min-height: 172px;
    min-width: 172px;
  }
}

@media screen and (min-width: 1921px) {
  .comic-view-container {
    padding: 0 calc((100vw - 1056px) / 2);
  }

  .comic-image-container {
    max-width: 768px;
    max-height: 539px;
  }
}

@media (hover: none) {
  .navigation {
    color: black;
  }
}
