<div *ngIf="isLoading" class="loading-indicator">
  <fa-icon [icon]="['fas', 'spinner']" [pulse]="true" size="2x"></fa-icon>
</div>

<img
  [class]="imageClass"
  [class.loading]="isLoading"
  [src]="imageUrl"
  [alt]="altTitle"
  (load)="isLoading = false"
/>
