.webcomic-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.webcomic-list-item {
  width: 30vw;
  min-width: 82px;
  height: 30vw;
  min-height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: white;
  margin: max(1vh, 6.4px) 1vw;
  cursor: pointer;
}

.webcomic-list-item.dummy {
  background-color: #fafafa;
  cursor: default;
}

.webcomic-list-item .webcomic-image {
  max-width: 80%;
  max-height: 95%;
}

@media screen and (min-width: 768px) {
  .webcomic-list {
    width: 100%;
  }

  .webcomic-list-item {
    width: min(15vw, 286px);
    height: min(15vw, 286px);
    margin: 0 0.5vw min(3.75vw, 72px) 0.5vw;
  }
}
