<div class="webcomic-list">
  <div
    class="webcomic-list-item"
    *ngFor="let comic of webcomics"
    (click)="selectWebcomic(comic)"
  >
    <app-image-with-loading-indicator
      class="webcomic-image"
      [imageUrl]="comic.imageUrl"
      [altTitle]="comic.title"
    >
    </app-image-with-loading-indicator>
  </div>
  <div
    class="webcomic-list-item dummy"
    *ngIf="emptySpaces == 1 || emptySpaces == 2"
  ></div>
  <div class="webcomic-list-item dummy" *ngIf="emptySpaces == 1"></div>
</div>
