.search {
  width: calc(100vw - 75px);

  height: 35px;
  display: flex;
  align-items: flex-end;
  color: #363636;
}

.search > svg {
  color: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 2rem;
  margin-bottom: 2px;
}

.search > input {
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  display: flex;
  align-items: flex-end;
  margin-bottom: -1px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .search {
    width: 25vw;
    max-width: 230px;
    height: 43.2px;
    border-bottom: 1px solid #363636;
  }
}

@media screen and (min-width: 1024px) {
  .search {
    width: 15vw;
  }
}
