<div class="search">
  <svg
    class="w-6 h-6"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1"
      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
    ></path>
  </svg>
  <input
    type="text"
    class="input"
    name="search"
    [(ngModel)]="searchTerm"
    (keyup.enter)="submitSearchRequest()"
    (blur)="syncAllInstances()"
  />
</div>
