.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.about-text {
  padding: 2rem;
  line-height: 26px;
  max-width: 1052px;
}

@media screen and (min-width: 768px) {
  .about-container {
    padding: 0vh 22.5vw;
    align-items: center;
    min-height: calc(100vh - 97px);
    justify-content: unset;
    margin-bottom: unset;
  }

  .about-text {
    line-height: 32px;
  }
}
