.search-container {
  margin-bottom: 48px;
  width: 100%;
  min-width: 280px;
}

.search-subheader {
  display: flex;
  margin: 18px 4.5vw 18px 4.5vw;
}
.search-subheader > h2 {
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .search-container {
    padding-bottom: 32px;
    margin-bottom: 0;
    padding: 0vh 20vw;
    min-height: 100vh;
  }

  .search-subheader {
    margin: 25px calc((60vw - min(45vw, 856px)) / 4);
  }
}

@media screen and (min-width: 1024px) {
  .search-subheader > h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1921px) {
  .search-container {
    padding: 0 calc((100vw - 1152px) / 2);
  }

  .search-subheader {
    margin: 25px 74px;
  }
}
