<div class="search-container">
  <div class="search-subheader">
    <h2 *ngIf="hasResults; else noResultText">
      Search results for "{{ searchTerm }}" :
    </h2>
    <ng-template #noResultText>
      <h2>Sorry, there are no results for "{{ searchTerm }}"</h2>
    </ng-template>
  </div>
  <app-webcomic-list
    [webcomics]="webcomics"
  ></app-webcomic-list>
</div>
