.category-view-container {
  margin-bottom: 48px;
  min-width: 360px;
}

.category-view-subheader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 120px;
  min-width: 360px;
}

.category-image {
  height: 102px;
  width: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.category-image > app-image-with-loading-indicator {
  height: 98%;
  max-width: 98%;
}

.category-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  min-width: 162px;
  height: 90px;
  align-items: flex-start;
}

.category-title {
  height: 46px;
  display: flex;
  align-items: center;
}

.category-title > h3 {
  max-height: 100%;
}

.category-status {
  font-size: 13px;
}

.category-status > p {
  font-size: 13px;
}

.category-options {
  width: max(20vw, 72px);
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.category-options.options-hidden {
  color: transparent;
  pointer-events: none;
}

.category-options > .icon {
  font-size: 18px;
  cursor: pointer;
}

.category-options > .icon:hover,
.category-options > .icon:focus {
  outline: none;
  color: #ec4c4c;
}

.category-menu {
  z-index: 50;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-shadow: 0 8px 8px rgb(10 10 10 / 10%);
  list-style-type: none;
  padding-inline-start: 0;
  margin-inline: 0;
  margin-block: 0;
}

.category-menu.hidden {
  display: none;
}

.category-menu-item {
  list-style-type: none;
  height: 32px;
  width: 66px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.category-menu-item > p {
  margin-left: 6px;
}

.category-menu-item:hover,
category-menu-item:focus {
  color: #ec4c4c;
  outline: none;
}

@media screen and (min-width: 768px) {
  .category-view-container {
    padding: 0vh 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    min-height: calc(100vh - 97px);
  }

  .category-view-subheader {
    width: 100%;
    margin-bottom: 6px;
    height: 200px;
    max-width: 1052px;
  }

  .category-image {
    height: 115px;
    width: 115px;
  }

  .category-info {
    width: min(576px, 30vw);
    height: 130px;
  }

  .category-title {
    height: 70px;
  }

  .category-status > p {
    font-size: 17px;
  }

  .category-options {
    width: 100px;
  }

  .category-options > .icon {
    font-size: 28px;
  }

  .category-menu-item {
    height: 32px;
    width: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .category-image {
    height: 140px;
    width: 140px;
  }
}

@media screen and (min-width: 1921px) {
  .category-view-container {
    padding: 0 calc((100vw - 1052px) / 2);
  }
}
