<div class="category-view-container">
  <div class="category-view-subheader">
    <div class="category-image">
      <app-image-with-loading-indicator
        [imageUrl]="category.imageUrl"
        [altTitle]="category.name"
      >
      </app-image-with-loading-indicator>
    </div>
    <div class="category-info">
      <div class="category-title">
        <h3>{{ category.name }}</h3>
      </div>
      <div class="category-status">
        <p *ngIf="category.status != ''">Status: {{ category.status }}</p>
      </div>
    </div>
    <div
      class="category-options"
      [class.options-hidden]="
        category.name == 'Misc' || category.name == 'Favorites'
      "
    >
      <span class="icon" (click)="toggleCategoryMenu($event)">
        <fa-icon icon="ellipsis-h"></fa-icon>
      </span>
      <ul
        class="category-menu"
        [class.hidden]="!categoryMenuVisible"
        (clickOutside)="closeCategoryMenu()"
      >
        <li class="category-menu-item" (click)="openWebcomicSource()">
          <p>Visit</p>
        </li>
        <li class="category-menu-item" routerLink="edit">
          <p>Edit</p>
        </li>
      </ul>
    </div>
  </div>

  <app-webcomic-list
    [webcomics]="webcomics"
    [categoryName]="category.name"
  ></app-webcomic-list>
</div>
