.datalist {
  height: 150px;
  overflow: auto;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid #dbdbdb;
  background-color: white;
  color: #363636;
  height: fit-content;
  max-width: 510px;
  padding: 9px 4px;
}

.tag-container.empty {
  height: 34px;
  padding: 0;
}

.tag-container:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px #ec4c4c;
}

.tag-container > input {
  border: none;
  margin: 2px 4px;
  width: 150px;
  color: #363636;
  padding: 0;
  background-color: white;
}

.tag-container.empty > input {
  height: 100%;
  margin: 0;
  padding: 5px 4px 5px 12px;
}

.tag-container > input::placeholder {
  font-size: 13px;
}

.tag-container > input:focus {
  outline: none;
}

.tag {
  border-radius: 290486px;
  border: 1px solid #363636;
  width: fit-content;
  padding: 0 7px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
}

.tag > p {
  background-color: transparent;
}

.tag > .delete-button {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(105, 105, 105);
  color: #dbdbdb;
  font-size: 14px;
  margin: 0 2.7px;
}

.tag > .delete-button::before {
  content: "⨉";
}

@media screen and (min-width: 768px) {
  .tag-container {
    max-width: 506px;
  }

  .tag-container.empty {
    height: 44px;
    padding: 0;
  }

  .tag-container.empty > input {
    height: 100%;
    padding: 10px 4px 10px 12px;
    max-width: 506px;
  }

  .tag {
    cursor: pointer;
  }

  .tag:hover {
    color: #ec4c4c;
    border-color: #ec4c4c;
  }

  .tag:hover .delete-button {
    background-color: #ec4c4c;
  }
}
