<div class="edit-container">
  <div class="subheader">
    <h1 *ngIf="isNewWebcomic; else elseBlock">Add new</h1>
    <ng-template #elseBlock> <h1>Edit</h1></ng-template>
    <h1>&nbsp;webcomic</h1>
  </div>

  <form [formGroup]="webcomicForm" class="form" (ngSubmit)="saveWebcomic()">
    <div class="form-item">
      <label class="label required">Image URL</label>
      <input
        type="text"
        id="imageUrl"
        formControlName="imageUrl"
        placeholder="Enter webcomic image URL"
      />
    </div>
    <div class="form-item">
      <label class="label">URL</label>
      <input
        type="text"
        id="url"
        formControlName="url"
        placeholder="Enter webcomic URL"
      />
    </div>
    <div class="form-item">
      <label class="label">Title</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        placeholder="Enter webcomic title"
      />
    </div>
    <div class="form-item">
      <label class="label required">Category</label>
      <input
        type="text"
        id="category"
        formControlName="category"
        placeholder="Choose webcomic category"
        (input)="getCategorySuggestions()"
        (click)="openCategorySuggestionDropdown($event)"
      />
      <div
        class="dropdown"
        [class.visible]="categorySuggestionsVisible"
        (clickOutside)="closeCategorySuggestionDropdown()"
      >
        <div
          class="dropdown-item"
          *ngFor="let category of categorySuggestions"
          (click)="setSuggestedCategory(category)"
        >
          <p>{{ category }}</p>
        </div>
      </div>
    </div>
    <form (ngSubmit)="addTag()">
      <div class="form-item">
        <label class="label">Tags</label>
        <div class="tag-container" [class.empty]="this.tags.length == 0">
          <div
            class="tag"
            *ngFor="let tag of tags; let i = index"
            (click)="deleteTag(i)"
          >
            <p>{{ tag }}</p>
            <div class="delete-button"></div>
          </div>
          <input
            type="text"
            id="Tags"
            placeholder="Enter Tags"
            [formControl]="tagForm"
          />
        </div>
      </div>
    </form>

    <div class="editor-button-container" [class.new]="isNewWebcomic">
      <button
        type="submit"
        class="button"
        [disabled]="this.webcomicForm.status === 'INVALID'"
      >
        Save
      </button>
      <button class="button" (click)="deleteWebcomic()" *ngIf="!isNewWebcomic">
        Delete
      </button>
    </div>
  </form>
</div>
