* {
  box-sizing: border-box;
}

*:not(svg) {
  background-color: #fafafa;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

p,
h2,
h3,
input,
a,
button,
label {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

h2 {
  font-weight: 100;
  font-size: 20px;
}

h3 {
  font-weight: 100;
  font-size: 18px;
}

p,
a {
  font-size: 15px;
}

input {
  font-size: 16px;
}

.f1 {
  font-family: "Rajdhani", sans-serif;
}

.f2 {
  font-family: "Montserrat", sans-serif;
}

.f3 {
  font-family: "Amatic SC", cursive;
}

.f4 {
  font-family: "Quicksand", sans-serif;
}
.f5 {
  font-family: "Didact Gothic", sans-serif;
}

.edit-container {
  display: flex;
  min-width: 280px;
  flex-direction: column;
  margin-bottom: 50px;
}

.edit-container > .subheader {
  display: flex;
  margin: 18px 0 9px 4.5vw;
}

.edit-container > .form {
  justify-content: start;
  margin-bottom: 5vh;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 24px 4.5vw;
  max-width: 510px;
  position: relative;
}

.form-item > .label {
  font-size: 13px;
  font-weight: 300;
  margin: 0 0 4.2px 4.5px;
  font-family: "Montserrat", sans-serif;
}

.form-item > .label.required::after {
  content: "*";
  color: #ec4c4c;
}

.form-item > input {
  padding: 5px 4px 5px 12px;
  border: 1px solid #dbdbdb;
  background-color: white;
  color: #363636;
  height: 34px;
  width: 100%;
}

.form-item.disabled > input {
  color: #dbdbdb;
  border-color: #dbdbdb;
  cursor: not-allowed;
}

.form-item > input::placeholder {
  font-size: 13px;
}

.form-item > input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ec4c4c;
}

.form-item > .dropdown {
  width: 100%;
  box-shadow: 0 4px 8px rgb(10 10 10 / 10%);
  background-color: white;
  height: 128px;
  z-index: 13;
  position: absolute;
  top: 56.19px;
  display: none;
  overflow-y: scroll;
  flex-direction: column;
}

.form-item > input:focus ~ .dropdown,
.form-item > .dropdown.visible {
  display: flex;
}

.form-item > .dropdown > .dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 32px;
  padding-left: 8px;
  background-color: white;
}

.form-item > .dropdown > .dropdown-item > p {
  height: fit-content;
  background-color: inherit;
  cursor: default;
}

.form-item > .dropdown > .dropdown-item:hover > p {
  color: #ec4c4c;
}

.editor-button-container {
  display: flex;
  justify-content: space-between;
  width: calc(8vw + 196.42px);
  margin-left: calc((100vw - (8vw + 196.42px)) / 2);
  margin-top: 36px;
}

.editor-button-container.new {
  justify-content: center;
}

.button {
  background-color: transparent;
  color: #363636;
  border: 1px solid #363636;
  font-size: 20px;
  justify-content: center;
  padding: 8px 20px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  color: #ec4c4c;
  border-color: #ec4c4c;
}

.button:focus {
  color: #ec4c4c;
  border-color: #ec4c4c;
  outline: none;
}

.button:disabled {
  color: #dbdbdb;
  border-color: #dbdbdb;
  outline: none;
  cursor: not-allowed;
}

@media screen and (min-width: 565px) {
  .form-item,
  .edit-container > .subheader {
    margin: 24px calc((100vw - 510px) / 2);
  }

  h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-weight: 100;
    font-size: 24px;
  }

  h3 {
    font-weight: 100;
    font-size: 24px;
  }

  p,
  a {
    font-size: 20px;
  }

  input {
    font-size: 18px;
  }

  .edit-container {
    margin-bottom: 0;
    min-height: calc(100vh - 97px);
    padding: 0 25vw;
  }

  .edit-container > .subheader {
    margin: 25px 0 11px 0;
  }

  .form-item {
    margin: 14px 0;
  }

  .form-item > .label {
    font-size: 14px;
  }

  .form-item > input {
    padding: 10px 4px 10px 12px;
    height: 44px;
    max-width: 506px;
  }

  .form-item > .dropdown {
    max-width: 506px;
    top: 68.19px;
    height: 144px;
  }

  .form-item > .dropdown > .dropdown-item {
    min-height: 36px;
  }

  .form-item > .dropdown > .dropdown-item > p {
    font-size: 18px;
  }

  .editor-button-container {
    width: 257px;
    margin: 40px calc((100% - 257px) / 2) 0 calc((100% - 257px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .form-item,
  .edit-container > .subheader {
    margin-left: min(calc((50vw - 506px) / 2), 227px);
  }

  h3 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1921px) {
  .edit-container {
    padding: 0 calc((100vw - 958px) / 2);
  }

  .edit-container > .form,
  .edit-container > .subheader {
    max-width: 958px;
  }
}

@media screen and (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .hidden-non-desktop {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hidden-non-mobile {
    display: none !important;
  }
}

.hidden {
  display: none;
}
